<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoRide </title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>the server is up and running!!</h1>
    <p>login
        <a href="/login""><button class="button login-button" >Login</button></a>
        <a href="/register"><button class="button signup-button" href="/register">Signup</button></a>
    </p>