<%- include('./partials/navbar') %>
<h1>congrates you have unlocked a new page !!</h1>
<h1>just kidding!! this page is under construction or doesnt exist (404)</h1>
<h1>feel free to nav to other pages !! Thanks!! </h1>