<!DOCTYPE html>
<html>
<head>
  <title>City Route Map</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
  <div id="map" style="width: 45vw; height: 400px;"></div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    const map = L.map('map').setView([0, 0], 2); // Initial map view

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const city1 = [40.7128, -74.0060]; // New York City coordinates
    const city2 = [34.0522, -118.2437]; // Los Angeles coordinates

    const pathStyle = {
      color: 'green', // Green line color
      weight: 5
    };

    const cityMarker1 = L.marker(city1).addTo(map).bindPopup('New York City');
    const cityMarker2 = L.marker(city2).addTo(map).bindPopup('Los Angeles');

    const path = L.polyline([city1, city2], pathStyle).addTo(map);

    const bounds = L.latLngBounds([city1, city2]);
    map.fitBounds(bounds);

    cityMarker1.openPopup(); // Open the popup for City 1 by default
  </script>
</body>
</html>
