*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#details{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
}
#details .journey{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#details .journey div{
    padding: 10px;
}
#details .journey form input{
    margin: 0px;
    width: 20vw ;
    padding: 3px;
    outline: none;
}
#details .journey form button{
    padding: 3px;
    font-size: 1.2rem;
    margin: 10px;
}

#details .map{
    flex: 1;
}


@media screen and (max-width: 900px) {
    #details{
        flex-direction: column;
    }
}