@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@600;800&family=Signika:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;
  background: lightgreen;
}
/* first section */
#first {
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: larger;
  padding-left: 6vw;
  font-family: 'DM Serif Display', serif;
  /* font-family: 'Poppins'; */
}
#first h1{
  font-size: 3vw;
}
#second img{
  position: relative;
  height: 30vw;
  /* top:-6vw;/ */
}
#first p {
  font-size: 1.3rem;
  padding-top: 1.1rem;
  font-style: italic;
}



/* initiative */
#initiative{
  padding: 20px;
}
#initiative h1{
  font-size: 2.7rem;
  text-align: center;
}
#initiative img{
  width:20vw;
  height: 20vw;
}
#initiative div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#initiative div h2{
  font-size: 3rem;
}

.item{
  background: white;    
  text-align: center;
  height: 25vw !important;
}

.carousel{
  margin-top: 20px;
}

.bs-example{
margin: 20px;
}

.carousel.carousel-fade .item {
opacity:0;
filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
  opacity:1;
  filter: alpha(opacity=100); /* ie fix */
}


/* LeaderBoard Section */
.leader-board-s {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin: auto;
}

.leaderboard-about h1{
  font-size: 3rem;
  font-weight: 800;
  padding-top: 2rem;
  color: rgb(7, 160, 7);
}
.leaderboard-about{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.carousel-item{
  padding: auto;
}
.leaderboard-about img {
  max-height: 70vh; /* Adjust the percentage as needed */
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}

.carousel-img{
  width: 100%;
  margin: 0px auto;
  box-shadow: 0px 5px 15px 8px #e4e7fb; 
}
.leaderboard-about h1{
    text-align: center;
}


.learder-board-m {
  flex: 1;
  margin: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.share {
  width: 4.5rem;
  height: 3rem;
  background-color: #f55e77;
  border: 0;
  border-bottom: 0.2rem solid #c0506a;
  border-radius: 2rem;
  cursor: pointer;
}

.share:active {
  border-bottom: 0;
}

.share i {
  color: #fff;
  font-size: 2rem;
}

h1 {
  font-size: 1.2rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}
#header h1 {
  color: #07f21a;
  font-weight: 700;
  font-size: 1rem;
}
#leaderboard {
  width: 100%;
  position: relative;
  height: 60vh;
  margin: 0px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.04);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  color: #fff;
}

td {
  height: 5rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 10rem;
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

.ribbon {
  width: 105%;
  height: 5.5rem;
  top: -0.5rem;
  background-color: #0ae440;
  position: absolute;
  left: -1rem;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  left: 0.35rem;
  transform: rotate(45deg);
  background-color: #07f21a;
  position: absolute;
  z-index: -1;
}

.ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  right: 0.35rem;
  transform: rotate(45deg);
  background-color: #15f904;
  position: absolute;
  z-index: -1;
}

#buttons {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.exit {
  width: 11rem;
  height: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #7e7f86;
  border: 0;
  background-color: #fff;
  border-radius: 2rem;
  cursor: pointer;
}

.exit:hover {
  border: 0.1rem solid #12fa54;
}

.continue {
  width: 11rem;
  height: 3rem;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #04ff04;
  border: 0;
  border-bottom: 0.2rem solid #04ff04;
  border-radius: 2rem;
  cursor: pointer;
}

.continue:active {
  border-bottom: 0;
}
#leaderboard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#leaderboard::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#leaderboard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#22ff00),
    to(#1cdd23),
    color-stop(0.6, #54de5d)
  );
}





/* helping section */
#help {
  /* width: 80vw; */
  margin: 50px auto;
  background: lightgreen;
}
#help h1 {
  font-size: 2.7rem;
  padding: 20px 0px;
  text-align: center;
}

#help .box .card {
  margin: 10px;
  text-align: center;
}
.card div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text{
  padding: 10px 10px;
}
.bro-code{
  margin: 20px auto;
} 
.card-img-top{
  width: 60%;
  height: 60%;
}
.help_wrapper .card {
  background-color:  #e5e1e1;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}
.help_wrapper .card:hover {
  box-shadow: 0 0.9375rem 1.875rem rgba(72, 242, 157, 0.3);
  background:white;
}


/* Effects */
#effects{
  background: lightgreen;
}
#effects h1{
  font-size: 2.7rem;
  text-align: center;
  padding: 10px;
}
#points{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}
.point{
  border: 1px solid saddlebrown;
  margin: 3px;
  padding: 8px;
  border-radius: 20px;
  background: saddlebrown;
}
.point h5{
  text-align: center;
  color: white;
}
.point p{
  color: lightskyblue;
}



/* Features */
#features h1{
  font-size: 2.7rem;
  text-align: center;
  padding: 10px;
}
.perk{
  display: flex;
  align-items: center;
  justify-content: center;
}





/* Media Queries */
@media screen and (max-width: 1000px) {
    .row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}
@media screen and (max-width: 900px) {
    .leader-board-s{
        flex-direction: column;
    }
}
#head{
  color: #81fd81;
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */

}