<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journies</title>
    <style>
        img{
            height: 45vw;
        }
    </style>
</head>
<body>
    <div id="parent">
        <nav id="navbar">
        <h1 id="head">EcoRides</h1>
        <ul id="list">
            <a href="/home">
                <li id="home">Home</li>
            </a>
            <a href="#">
                <li id="contact">Contact Volunteers!!</li>
            </a>
        </ul>
    </nav>
    <img src="undarw (5).svg" alt="">
    <!-- iske niche card laga do bass  -->
    <% for(let item of journeyObj){ %>
        <!-- isme changes krke display kara de  -->
        <h1><%=item.name%></h1>
        <a href="/route/<%=item._id%>">
            <!-- ye find more mai krenge ab  -->
            <button>Find More!!</button>
        </a>
        <%}%>
</body>
</html>